<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devqt.fity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bachelor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>
        <activity
            android:name=".Magistr"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".course_b.FiKB" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.FiKM" android:screenOrientation="portrait"/>
        <activity android:name=".course_b.InformaticB" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.InformaticM" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.SocInformaticM" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.DY" android:screenOrientation="portrait"/>
        <activity android:name=".course_b.MatematicB" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.MatematicM" android:screenOrientation="portrait"/>
        <activity android:name=".course_b.MenedjmentB" android:screenOrientation="portrait"/>
        <activity android:name=".course_m.MenedjmentM" android:screenOrientation="portrait"/>

        <activity android:name=".days_b.DayInfB" android:screenOrientation="portrait"/>




        <activity android:name=".days_b.pn_b.PnBFirstInf" android:screenOrientation="portrait"/>
        <activity android:name=".days_b.pn_b.VtBFirstInf" android:screenOrientation="portrait"/>
        <activity android:name=".days_b.pn_b.SrBFirstInf" android:screenOrientation="portrait"/>

    </application>

</manifest>